.hidden {
    display: none;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px auto 150px auto;
}

.book {
    width: 21%;
    margin: 2%;
}

.book-cover {
    width: 100%;
}

.cover-wrapper {
    background: #f3f3f3;
}

.search-section {
    padding: 100px 0;
}

.search-heading,
.search-subheading {
    text-align: center;
}

.search-subheading {
    margin-top: 40px;
}

.search-input-year-start,
.search-input-year-end {
    width: 450px;
    padding: 10px;
    font-size: 18px;
    margin: 10px auto;
    display: block;
    border-radius: 50px;
    border: 1px solid gray;
    text-align: center;
}

.search-input-year-start:focus,
.search-input-year-end:focus {
    outline: none;
}

#filter-btn {
    display: block;
    width: 450px;
    padding: 10px;
    margin: 15px auto;
    border-radius: 50px;
    background: #f3f2f7;
    border: 1px solid #cdccd0;
    cursor: pointer;
}

#filter-btn:active {

}

#filter-btn:focus {
    outline: none;
}

.search-input:focus {
    outline: none;
}

.book-title {
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}